{% extends 'blog/base.html' %}

{% block title %}About{% endblock title %}
{% block body %}
<style>
    body{
        background: #11333F;
    }
</style>
<div class="container" style="margin-bottom: 200px;">
    <h2 class="display-2 text-center" style="color: white;">Who we are?....</h2>
    <p style="color: white;">
       <b> Welcome to NHDevelopers </b>, we are here to server you with the best quality softwares, portfolios, professional blogging sites, different management systems. Besides these, at NHDevelopers we provoide you a user dashboard to add a blog and spread knowledge. You can read different programming articles and alse get free source codes, tips and get in touch with experienced programmers.  
    </p>
       <br>
<h3 style="color: white;">Our Mission</h3>
<p style="color: white;">
We always focus on my client requirements, use the professional knowledges to solve their problems with 100% satisfaction. Our main point is to give our clients precisely what they need and guide them all through the procedure. Feel free to contact me thank you.
    </p>
    <h3 style="color: white;">Our Recent Projects</h3>
    <ul style="color: white;" >
        
        <li><a href="https://organioclub.com/"target="_blank">Organio Club</a></li>
        <li><a href="https://theksasale.com" target="_blank">TheKSA Sales</a></li>
        <li><a href="https://nhwriters.cf/"target="_blank">NHWriters</a></li>
    </ul>
</div>

{% endblock body %}