{% extends 'blog/base.html' %} 
  {% block title %}Blog {% endblock title %}
   
   {% block body %} 
    
   <style>
    body{
      background-color: #11333F;
    }
    </style>
  <div class="container"> 
    <h2 class="text-center display-2 mb-4" style="color: white;">Our Famous Blogs</h2>
    <div class="container marketing   my-5">

      <!-- Three columns of text below the carousel -->
      <div class="row">
          {% for i in page_obj %}
        <div class="col-lg-4">
          
          <img class="card-img-top" style="width: 100% ; height:200px" src= '{{i.img.url}}'   >
          <h2 style="color: white;">{{i.title}}</h2><span style="color: white;">{{i.timestamp}}</span>
          <h5 style="color: white;">{{i.author}}</h5>
          <p class="preview" style="color: white;"> {{i.desc|striptags|slice:':150'  }} </p>
          <p><a class="btn btn-outline-info mb-3" href="http://127.0.0.1:8000/blog/{{i.id}} ">Read More &raquo;</a></p>
         
      </div><!-- /.row -->
      {% endfor %}
    </div>  
    <p style="text-align: center;">
      <span style="color: whitesmoke;">
        {% if page_obj.has_previous %}
        <a style="color: whitesmoke;" href="?page={{page_obj.previous_page_number}}">Previous</a>
     {% endif %}

       
      <span style="color: whitesmoke;">  {{page_obj.number}}</span>

      
        {% if page_obj.has_next %}
        <a style="color: whitesmoke;"  href="?page={{page_obj.next_page_number}}">Next</a>
     {% endif %}

      </span> 
    </p>
    </div>   
    
    


  
</div>  

 
{% endblock body %} 