{% extends 'blog/base.html' %}


{% block title %}Dashboard{% endblock title %}


{% block body %} 
 
<div class="container">
  <h2 class="display-2 text-center">Add Blog Here....</h2>

<form action="https://nhdevelopersteam.herokuapp.com/dashboard/" method="POST" enctype="multipart/form-data">{% csrf_token %}
  <!-- <p>Upload Image Here....</p>
  <input type="file" class=" mb-3"  required name="img"> -->
    <div class="form-group">

      <label for="">Blog Title</label>
      <input type="text" name="title" required placeholder="Add blog title here............" id="" class="form-control"  aria-describedby="helpId">
       
    </div>

    <div class="form-group">
        <label for="" class="mt-2">Blog Body</label>
        <textarea type="text" name="desc"    id="mytextarea" class="form-control" placeholder="Your blog body....." aria-describedby="helpId"></textarea>
         
      </div>
        <input  type="hidden" name="user_id" value="{{user.id}}" id="">
<input type="submit" class="btn btn-outline-info mt-1" value="Publish">
</form>
 
</div>
<hr>
<div class="container">
  <h2 class="display-3 text-center mb-4 ">My Blogs</h2>
    <div class="row mt-2 mb-3">
        {% for i in post %}
        <div class="col col-lg-4 mb-2">
        <div class="card text-left">
          
          <!-- <img class="img-fluid "   style="width: 100% ; height:200px"  src= '{{i.img.url}}'    > -->
          <div class="card-body">
            <h4 class="card-title"><a href="https://nhdevelopersteam.herokuapp.com/dashboard/det/{{i.id}}" style="text-decoration: none; color: black; " >{{i.title}}</h4></a><span>{{i.timestamp}}</span>
            <p class="card-text">{{i.author}}</p>
            <p ><div class="preview">{{i.desc|striptags|slice:':150'  }}</div></p> 
            <a href="https://nhdevelopersteam.herokuapp.com/dashboard/det/{{i.id}}" class="btn btn-primary">View & Update Post </a>
                
                 
          </div>
          
        </div>
        </div>
        {% endfor %}
    </div>
</div>






{% endblock body %}
 